@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Orbitron:wght@500&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Questrial", sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)),
    url(../background/background2.jpg);
  background-size: cover;
}

#gameover-card {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  z-index: 19;
  display: none;
  box-shadow: -8px -231px 117px black inset;
}
#gameover-card.display {
  display: block !important;
}

#gameover {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.g-text {
  margin: auto;
  color: #fff;
  font-size: 35px;
  color: aquamarine;
}

.g-text p.g-over {
  color: #fff;
  font-size: 35px;
  color: aquamarine;
  text-align: center;
  margin: 0;
}
#result-emoji {
  width: 112px;
}
#endmessage {
  color: #fff;
  font-size: 20px;
  color: aquamarine;
  margin: auto;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  transition: all 0.2s ease-in-out;
}

#gamename {
  font-family: "Orbitron", sans-serif;
  color: #fff;
  text-align: center;
  margin: 20px auto;
  position: absolute;
  top: 20px;
  z-index: 10;
}
#loader {
  top: 9px;
  margin: 0 auto;
  display: block;
  margin-top: -24px;
  margin-bottom: 0px;
  width: 45px;
  height: 45px;
  opacity: 0;
}
#loader.display {
  opacity: 1 !important;
}
#playagain,
.select-button {
  bottom: 25px;
  z-index: 20;
  color: #fff;
  background: aquamarine;
  border: none;
  padding: 12px;
  border-radius: 29px;
  cursor: pointer;
  display: none;
  color: black;
  margin: 30px auto;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 17px;
  padding-top: 10px;
  box-shadow: 5px 4px 7px black;
  transition: all 0.2s ease-in-out;
}
.select-button {
  display: inline-block;
  margin: 0;
}
#setchoiceX {
  background: seagreen;
  color: #fff;
}
#setchoiceO {
  background: tomato;
  color: #fff;
}
#playagain:hover {
  transform: scale(1.2);
}

#playagain.display {
  display: block;
}
#audioO,
#audioX {
  display: none;
}
#pitch {
  padding: 30px;
  background: powderblue;
  border-radius: 35px;
  box-shadow: -60px -126px 80px rgba(0, 0, 0, 1) inset;
  min-width: 305px;
  background-image: url(../background/background.jpg);
  background-size: cover;
  background-position: unset;
  padding-top: 10px;
}
#pickachoice {
  padding: 10px;
  border: 1px solid #ccc;
  color: blueviolet;
  font-weight: bold;
  border-radius: 5px;
}
.close-shadow {
  text-shadow: 4px 4px 3px black;
  font-weight: bold;
  font-size: 35px;
}
#setchoice {
  padding: 10px;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#bord {
  align-self: center;
  margin: 10px auto;
}
#bord tr td {
  width: 70px;
  height: 70px;
  background: #dee9ec;
  text-align: center;
  vertical-align: center;
  font-size: 50px;
  font-weight: 900;
  box-shadow: 0px 0px 15px slategrey inset;
  cursor: pointer;
  text-shadow: 3px 5px 6px black;
  opacity: 0.7;
  border-radius: 7px;
}

.ttt-cell {
  background-color: #d7dbe0;
  transition: all 0.2s ease-in-out;
}
.ttt-cell.cross {
  background-color: bisque;
}
.classX {
  color: seagreen !important;
}
.classO {
  color: tomato !important;
}
#choiceHolder {
  font-size: 26px;
  margin-bottom: 24px;
  text-align: center;
  color: aquamarine;
}
